# 监控一致预期三张表的数据情况， 查看有无异常数据

In [48]:
import pandas as pd

In [47]:

class MysqlConn(object):
    def __init__(self, config_json_str):
        # self.mysql_config = {"host": "10.22.128.150",  "port": 3317, "db": "bigdata", "user": "talend_load",
        #   "passwd": "s9t5gNThn2vqWM7c" , "charset" : "utf8"}
        # self.mysql_config = {"host": "db-bigdata.wmcloud-qa.com",  "port": 3312, "db": "bigdata", "user": "app_bigdata_ro",
        #   "passwd": "Welcome_20141217"}
        self.mysql_config = json.loads(config_json_str, encoding='utf-8')

    def connect(self):
        mysql_conn = pymysql.connect(**self.mysql_config)
        return mysql_conn

In [51]:
import json
import pymysql
# MySQL
# bigdata={"host":"security03-dev.datayes.com","port":3306,"user":"talend_load","passwd":"NCph1G9BQT3DuQj","db":"bigdata","charset":"utf8"}
# dateyesdbp={"host":"db-datayesdb-ro.wmcloud.com","port":3313,"user":"app_dataqa_ro","passwd":"Welcome20140820","db":"datayesdbp","charset":"utf8"}
# datayesdb={"host":"db-datayesdb-ro.wmcloud.com","port":3313,"database":"datayesdb","user":"app_gaea_ro","password":"EQw6WquhnCKPp8Li","charset":"utf8"}

# researchrpt={"host":"db-researchrpt-ro.wmcloud.com","port":3306,"user":"app_gaea_ro","passwd":"UDVVkvULzakP2048","db":"research_rpt","charset":"utf8"}
# dev
# researchrpt={"host":"10.24.21.34","port":3306,"user":"app_researchrep","passwd":"dG8pqlk5VKOMvDH","db":"research_rpt","charset":"utf8"}
# prd
researchrpt={"host":"db-researchrpt.wmcloud.com","port":3306,"user":"app_researchrep","passwd":"dG8pqlk5VKOMvDH","db":"research_rpt","charset":"utf8"}
# stg
researchrpt={"host":"db-researchrpt.wmcloud-stg.com","port":3313,"user":"app_datarrp_rw","passwd":"H63mXK77X91i5OGDn","db":"research_rpt_prd","charset":"utf8"}

# bigdata={"host":"real-stg01.datayes.com","port":3314,"user":"app_talend_rw","passwd":"KbcwQ32gamVR3sPw","db":"bigdata","charset":"utf8"}

# SQLserver
# datayes={"server":"sh-dm-db05.datayes.com","port":1433,"database":"dyedb","user":"talend_load","password":"s9t5gNThn2vqWM7c","charset":"utf8"}
# datayesdb={"server":"10.21.139.72","port":1433,"database":"datayesdb","user":"talend_load","password":"s9t5gNThn2vqWM7c","charset":"utf8"}

# bigdata_conn = MysqlConn(json.dumps(bigdata)).connect()
# dateyesdbp_conn = MysqlConn(json.dumps(dateyesdbp)).connect()
# datayesdb_conn = MysqlConn(json.dumps(datayesdb)).connect()
researchrpt_conn = MysqlConn(json.dumps(researchrpt)).connect()

# datayesdb_conn = MssqlConn(json.dumps(datayesdb)).connect()
# datayes_conn = MssqlConn(json.dumps(datayes)).connect()

In [52]:
from datetime import datetime,timedelta
# BASIC QUERY
# select * from con_forecast_stk where CON_DATE='2019-09-25 00:00:00' 
# select * from con_forecast_schedule where CON_DATE='2019-09-25 00:00:00'
# select * from con_stock_income where tdate='20190925'

In [16]:
# To get count(*) of previous day 
sql = ["""select count(*) from con_forecast_stk where CON_DATE='%s 00:00:00'""",
      """select count(*) from con_forecast_schedule where CON_DATE='%s 00:00:00'"""]
curdatetime = (datetime.now()-timedelta(days=1)).strftime("%Y-%m-%d")
for s in sql:
    dfcount = pd.read_sql(s % curdatetime, researchrpt_conn)
    print(dfcount)

   count(*)
0     15303
   count(*)
0      3832

In [54]:
# To get count(*) of previous day 
sql = """select * from con_forecast_schedule"""
alldf = pd.read_sql(sql, researchrpt_conn)

In [55]:
alldf.head()

,SCHEDULE_ID,STOCK_CODE,STOCK_NAME,CON_DATE,TARGET_PRICE,TARGET_PRICE_TYPE,SCORE,SCORE_TYPE,TMSTAMP,ENTRYDATE,ENTRYTIME,TDATE,DT,ETL_CRC,INSERT_TIME,UPDATE_TIME
0,556971,000001,平安银行,2009-12-31,24.8172,1,0.540528,1,None,None,None,None,2019-02-20 01:25:43,2475042510,2019-02-20 01:25:20,2019-03-09 20:20:09
1,556972,000002,万科A,2009-12-31,16.9093,1,0.762979,1,None,None,None,None,2019-02-20 01:25:43,1340198287,2019-02-20 01:25:20,2019-03-09 20:31:04
2,556973,000001,平安银行,2009-12-30,24.9772,1,0.540523,1,None,None,None,None,2019-02-20 01:25:50,3166617002,2019-02-20 01:25:27,2019-03-09 20:20:09
3,556974,000002,万科A,2009-12-30,16.9237,1,0.764096,1,None,None,None,None,2019-02-20 01:25:50,1329038892,2019-02-20 01:25:27,2019-03-09 20:31:04
4,556975,000004,国农科技,2009-12-31,NaN,3,NaN,3,None,None,None,None,2019-02-28 20:47:06,2725980185,2019-02-28 20:46:58,2019-02-28 20:46:58

In [57]:

import pickle

# with open('schedule_back_20190926.pkl', 'wb') as f:
#     pickle.dump(df, f, protocol=pickle.HIGHEST_PROTOCOL)

# 3. set type=4
import numpy as np

columns = [
    'stock_code', 'con_date', 'target_price', 'target_price_type', 'score',
    'score_type', 'stock_name']
columnsupper = [x.upper() for x in columns]
df = alldf[columnsupper]
# df.columns = [
#     'ticker_symbol', 'con_date', 'con_target_price', 'con_type_target_price', 'con_score',
#     'con_type_score', 'stock_name']
df.columns = columns

idx = (df.con_date > '2010-01-04 00:00:00') & (df.target_price_type == 4)
# idx = df.target_price_type == 4
df.loc[idx, 'target_price'] = np.nan
idx = (df.con_date > '2010-01-04 00:00:00') & (df.score_type == 4)
# idx = (df.score_type == 4) & (df.con_date > '2010-01-04')
df.loc[idx, 'score'] = np.nan

df = df.sort_values('con_date')
# 4. sort by date
df.columns = [
    'ticker_symbol', 'con_date', 'con_target_price', 'con_type_target_price', 'con_score',
    'con_type_score', 'stock_name']
# 5. group by ticker and fillna
con_list = ['con_target_price', 'con_score']
df[[col for col in con_list]] = df.groupby('ticker_symbol')[
    [col for col in con_list]].apply(lambda x: x.fillna(method='ffill'))
# filter out type =4

with open('schedule_back_20190930.pkl', 'wb') as f:
    pickle.dump(df, f, protocol=pickle.HIGHEST_PROTOCOL)

idx = df.target_price_type == 4
df1 = df.loc[idx]
idx = df.score_type == 4
df2 = df.loc[idx]

tlist = ['000004','601555']
t = '000004'
for t in tlist:
    sf = df[df.ticker_symbol==t]
    sf.to_csv('%s.csv' % t)

AttributeError: 'DataFrame' object has no attribute 'target_price_type'

# 用于刷历史时存储任务完成状态，方便统计

In [30]:
# stg
MONGO="mongodb://app_dataifs_rw:IuSooOl3w2ylFE2Wn@mongodb01-dbp.datayes.com,mongodb02-dbp.datayes.com,mongodb03-dbp.datayes.com/dataifs"

In [27]:
# stg
MONGO="mongodb://app_dataifs_rw:HYTENk36mSYWg2r1n@mongodb01.wmcloud-stg.com,mongodb02.wmcloud-stg.com,mongodb03.wmcloud-stg.com/dataifs"

In [25]:
# QA
MONGO="mongodb://app_dataifs_rw:uaTQIDzoq28o3gf4n@nosql06.wmcloud-dev.com:27017/dataifs"

In [31]:
import re
import pymongo
import pandas as pd
from datetime import datetime
mongo_conn = pymongo.MongoClient(MONGO, connect=False)
mongo_db = mongo_conn.get_database("dataifs")

print(pymongo.__version__)
collection='consensus_history'

3.5.1

In [10]:
mongo_db.get_collection(collection).find_one(sort=[("date", -1)])

{u'_id': ObjectId('5d9f2beeb7330147f4ce5402'),
 u'date': u'2019-09-30',
 u'processtime': 1570712561.2690597,
 u'status': u'doing'}

In [8]:
mongo_db.get_collection(collection).find_one()#.count()

{u'_id': ObjectId('5d5ff4e3a93118343f62480f'),
 u'date': u'2017-01-01',
 u'processtime': 1567130790.962091,
 u'schedule': u'',
 u'status': u'done',
 u'stk': u''}

In [34]:
d='2010-10-11'
mongo_db.get_collection(collection).insert_one({
                    'date': d,
                    'status': 'wait'
                })

In [3]:
mongo_db.get_collection(collection).update({'date':'2019-10'},{"$set":{'status':'wait'}})#.count()

c:\python27\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  """Entry point for launching an IPython kernel.

{u'electionId': ObjectId('5d86f9f1768020fdc77bff96'),
 u'n': 1,
 u'nModified': 1,
 u'ok': 1.0,
 u'opTime': Timestamp(1570712116, 4),
 'updatedExisting': True}

In [29]:
mongo_db.get_collection(collection).update_many({'date':{"$gt":'2019-09-30'}},{"$set":{'status':'wait'}})#.count()

In [46]:
mongo_db.get_collection(collection).update_many({'date':{"$gte":'2010-01-25'},"redo_date" : "2019-09-27"},{"$set":{'status':'wait'}})#.count()

In [36]:
mongo_db.get_collection(collection).update_many({'date':'2010-03-18'},{"$set":{'status':'wait'}})#.count()

In [42]:
mongo_db.get_collection(collection).update_many({'date':'2010-01-25'},{"$set":{'status':'wait'}})#.count()

In [32]:
mongo_db.get_collection(collection).find_one({'date':{"$gte":'2010-01-09'}})#.count()

{u'_id': ObjectId('5d65398dfc186239723338bf'),
 u'date': u'2010-01-09',
 u'processtime': 1569578287.8556924,
 u'schedule': u'',
 u'status': u'fail',
 u'stk': u''}

In [26]:
mongo_db.get_collection(collection).find({'date':{"$gte":'2010-01-09',"status":'fail'}}).count()

0