##### homepage: http://pandas.pydata.org/index.html

# Indexing and Selecting Data

In [18]:
# https://pandas.pydata.org/pandas-docs/stable/indexing.html
# https://www.oreilly.com/learning/introducing-pandas-objects

# Creating DataFrame

In [2]:
import pandas as pd
import warnings
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")

# df1 = pd.read_csv("./trainset/pcdata_0611.csv") 
# read_sql read_html

In [2]:
style = pd.read_csv('data_morning_start_style.csv')
style.head()

   SECURITY_ID_INT       raw_X       raw_Y vertical horizontal
0             1734 -106.512730  223.595615    large      value
1             1351  -95.753155  244.328818    large      value
2             2228  -74.231371  318.054976    large      value
3             2296  -57.797931  394.503697    large      value
4             1971  -50.873616  581.970420    large      value

In [3]:
# 保证SECURITY_ID_INT唯一
style.drop_duplicates(['SECURITY_ID_INT'], inplace=True)

In [7]:
# 取出SECURITY_ID_INT=1971的vertical值

large <type 'str'>

### 1

In [ ]:
var = style.set_index('SECURITY_ID_INT').loc[1734, 'vertical']
t = type(style.set_index('SECURITY_ID_INT').loc[1734, 'vertical'])
print var, t

### 2

In [8]:
var = style.loc[style['SECURITY_ID_INT']==1734, 'vertical']
t = type(style.loc[style['SECURITY_ID_INT']==1734, 'vertical'])
print var, t

0    large
Name: vertical, dtype: object <class 'pandas.core.series.Series'>

### 3

In [9]:
var = style.ix[1734]
t = type(style.ix[1734])
print var, t

SECURITY_ID_INT        160
raw_X              300.288
raw_Y              63.1416
vertical             small
horizontal          growth
Name: 1734, dtype: object <class 'pandas.core.series.Series'>

In [ ]:

# 内在优化 https://blog.csdn.net/qq_34739497/article/details/79600479

# datetime

In [41]:
df["date"].dt.date # 转换成date类型

### or

In [7]:
pd.to_datetime('2019-01-01').date()

datetime.date(2019, 1, 1)

In [4]:
pd.to_datetime(pd.datetime.today().date())

Timestamp('2019-03-08 00:00:00')

In [5]:
pd.to_datetime('2019-02-28')

Timestamp('2019-02-28 00:00:00')

In [ ]:
df_trade_cal = df_trade_cal[df_trade_cal["TRADE_DATE"]>=pd.to_datetime('2013').date()]

### Return a fixed frequency DatetimeIndex.
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html

In [15]:

# dates = pd.date_range('1/1/2000', periods=8)
# dates

pd.date_range(start='2019-01-01', end='2019-03-01')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
               '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-16',
               '2019-01-17', '2019-01-18', '2019-01-19', '2019-01-20',
               '2019-01-21', '2019-01-22', '2019-01-23', '2019-01-24',
               '2019-01-25', '2019-01-26', '2019-01-27', '2019-01-28',
               '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01',
               '2019-02-02', '2019-02-03', '2019-02-04', '2019-02-05',
               '2019-02-06', '2019-02-07', '2019-02-08', '2019-02-09',
               '2019-02-10', '2019-02-11', '2019-02-12', '2019-02-13',
               '2019-02-14', '2019-02-15', '2019-02-16', '2019-02-17',
               '2019-02-18', '2019-02-19', '2019-02-20', '2019-02-21',
               '2019-02-22', '2019-02-23', '2019-02-24', '2019-02-25',
               '2019-02-26', '2019-02-27', '2019-02-28', '2019-03-01'],
              dtype='datetime64[ns]', freq='D')

### to concatenate all the column values into a single string
https://stackoverflow.com/questions/39291499/how-to-concatenate-multiple-column-values-into-a-single-column-in-panda-datafram

In [ ]:
df['ETL_CRC'] = df.apply(lambda row: crc32(''.join(row.values.astype(str))), axis=1)

In [7]:
df = pd.DataFrame({'id': [1, 2, 3],
                   'name': ['a', 'b', 'c'],})
df

   id name
0   1    a
1   2    b
2   3    c

In [13]:
df_c = pd.DataFrame({'id_c': [4, 1],
                   'name': ['a', 'a']})
df_c

   id_c name
0     4    a
1     1    a

In [14]:
df.merge(df_c, how='left', on=['name'])

   id name  id_c
0   1    a   4.0
1   1    a   1.0
2   2    b   NaN
3   3    c   NaN

###### 2018-08-23

In [23]:
df[(df.id==2) & (df.name=='b')]

   id name
1   2    b

In [27]:
df['amount']=1.1
df
dfc=df
dfc.loc[0, 'amount'] = 1.2
dfc
df.merge(dfc, how='left', on=['name', 'amount'])

   id_x name  amount  id_y
0     1    a     1.2     1
1     2    b     1.1     2
2     3    c     1.1     3

In [34]:
dfc = df.iloc[0]
# dfc = pd.DateFrame(list(dfc.values))

AttributeError: 'module' object has no attribute 'DateFrame'

In [60]:
dfa = df[["name"]]
dfa
# df.append(dfa, axis=0)

   id name  amount name
0   1    a     1.2    a
1   2    b     1.1    b
2   3    c     1.1    c

# df to tuple

In [ ]:
list(data_set.itertuples(index=False))

In [35]:
tuples = [tuple(row) for row in df_data.values]

Timestamp('2019-02-28 00:00:00')

In [ ]:

    [tuple(x) for x in df.values]
    df.to_records(index=False).tolist()
    list(map(tuple,df.values))
    list(map(tuple, df.itertuples(index=False)))

# groupby

### 数据准备

In [64]:
data.to_csv("drugsale_test_data.csv", index=False, encoding='utf-8')

uniquekeys = ['PMD_YEAR', 'PMD_QUARTER', 'PMD_CITY', 'PMD_MEDICINALINFORMATIONID', 'PMD_COMPANYID',
             'PMD_MEDICINALSALENUMBER']

### count()会作用在所有不在uniquekeys给定的列上，生成一个由uniquekeys做多级索引的DateFrame。比如df中的列为[a,b,c,d,e], uniquekeys=[a,b,c], 那么count()会同时作用在[d,e]列上， 而[a,b,c]成为多级索引。info()可以看到相关信息。通常没有必要在[d,e]列上各做一次count，当df中的列数特别多时，就更不推荐这么用了。

In [50]:
# data.groupby(uniquekeys).count().info()#.reset_index()

### 也可以用as_index=False设置不生成多级索引

In [67]:
# data.groupby(uniquekeys, as_index=False).count().info()#.reset_index()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73054 entries, 0 to 73053
Data columns (total 37 columns):
PMD_YEAR                      73054 non-null int64
PMD_QUARTER                   73054 non-null int64
PMD_CITY                      73054 non-null object
PMD_MEDICINALINFORMATIONID    73054 non-null object
PMD_COMPANYID                 73054 non-null object
PMD_MEDICINALSALENUMBER       73054 non-null float64
ID                            73054 non-null int64
PMD_MEDICINALSALEMONEY        73054 non-null int64
PMD_MEDICINALNAME             73054 non-null int64
PMD_COMPANYNAME               73054 non-null int64
PMD_MEDICINALID               73054 non-null int64
PMD_ID                        73054 non-null int64
PMD_REMARK1                   73054 non-null int64
PMD_REMARK2                   73054 non-null int64
PMD_REMARK3                   73054 non-null int64
PMD_REMARK4                   73054 non-null int64
PMD_REMARK5                   73054 non-null int64
CREATE_DATE                   73054 non-null int64
CREATE_USER                   73054 non-null int64
UPDATE_DATE                   73054 non-null int64
UPDATE_USER                   73054 non-null int64
VERSION                       73054 non-null int64
STATUS                        73054 non-null int64
PMD_DATABASE                  73054 non-null int64
PMD_CLASS                     73054 non-null int64
PMD_DOSFORM                   73054 non-null int64
PMD_SPECIFICIAL               73054 non-null int64
PMD_USEMETHOD                 73054 non-null int64
ETL_CRC                       73054 non-null int64
QA_RULE_CHK_FLG               73054 non-null int64
QA_MANUAL_FLG                 73054 non-null int64
QA_ACTIVE_FLG                 73054 non-null int64
CREATE_BY                     73054 non-null int64
CREATE_TIME                   73054 non-null int64
UPDATE_BY                     73054 non-null int64
UPDATE_TIME                   73054 non-null int64
TMSTAMP                       73054 non-null int64
dtypes: float64(1), int64(33), object(3)
memory usage: 21.2+ MB

### reset_index()可以将多级索引转换为普通的列。

In [51]:
# data.groupby(uniquekeys).count().reset_index()

### size()的结果中只会保留uniquekeys中存在的列, 并新增一个名叫'counts'的计数列。 也是呈目录树状的级联结构，但它不是一个DateFrame, 查看类型会发现是Series。可以用reset_index转换成DateFrame。

In [46]:
type(data.groupby(uniquekeys).size())

pandas.core.series.Series

### reset_index()直接作用在size()后面，再赋予新增的计数列列名'counts'可以得到一个看上去干净清爽的DateFrame, 同时满足获取各个group的计数的需求。

In [55]:
# data.groupby(uniquekeys).size().reset_index(name='counts')

### size()方法后直接用to_frame()方法也可以得到DateFrame, 它只有唯一一列'counts', info()显示uniquekeys为这个DataFrame的多级索引。reset_index()方法仍然可以将这些索引转换成列，而自动加上默认的自增索引。

data.groupby(uniquekeys).size().to_frame(name='counts').info()#.reset_index()

In [56]:
# data.groupby(uniquekeys).size().to_frame(name='counts').reset_index()

### groupby得到的每个group都可以看作一个DataFrame, apply的作用对象是每个组的数据， 可以用类似处理DataFrame的方法选取其中的部分列进行计算。比如下面",".join(x["PMD_COMPANYID"])操作将每个group中的PMD_COMPANYID列的数据拼接起来。

In [14]:
data[["PMD_CITY", "PMD_COMPANYID"]].groupby(["PMD_CITY"]).apply(lambda x: ",".join(x["PMD_COMPANYID"]))

PMD_CITY
上海      M3078,M3758,M1574,M1574,M3078,M0551,M0551,M188...
北京      M3078,M3758,M1574,M3078,M0551,M0551,M0795,M298...
北京市     M4260,M0489,M1316,M0489,M5411,M1311,M1341,M048...
南京      M4489,M3078,M1574,M3078,M0551,M0795,M5361,M486...
南京市     M3003,M1020,M3334,M5428,M2386,M4393,M5313,M150...
哈尔滨     M2903,M3606,M3641,M4310,M4310,M5354,M2106,M210...
哈尔滨市    M3238,M3345,M3276,M5317,M2716,M0799,M0832,M484...
天津      M3078,M3758,M1574,M3078,M0551,M2986,M5361,M279...
广州      M3078,M3758,M3758,M1574,M1574,M1730,M2332,M233...
广州市     M1352,M4848,M0970,M4731,M1820,M4628,M2489,M227...
成都      M3078,M3758,M1574,M3078,M0551,M0551,M5361,M486...
成都市     M2356,M4573,M3251,M3339,M2475,M2277,M2550,M087...
杭州      M3078,M3758,M3758,M1574,M3078,M0551,M0551,M079...
武汉      M0175,M4768,M4768,M4768,M4768,M4768,M4990,M545...
沈阳      M3078,M1574,M3018,M3078,M0795,M5361,M2792,M486...
沈阳市     M2252,M0728,M4500,M2555,M3212,M4088,M5212,M335...
济南      M3078,M3758,M1574,M3078,M0551,M0795,M2986,M536...
石家庄     M3078,M3758,M1574,M3078,M0551,M2986,M5361,M486...
西安      M3078,M1574,M1574,M2332,M3078,M0795,M4441,M536...
西安市     M2022,M1324,M3793,M1316,M1233,M4193,M4135,M232...
郑州      M3078,M1574,M3078,M0551,M0795,M2986,M5361,M486...
郑州市     M2901,M1963,M5357,M3175,M5267,M1059,M3366,M160...
重庆      M4214,M2377,M0202,M0240,M2377,M2126,M2969,M499...
重庆市     M5434,M4260,M1723,M2464,M3958,M4260,M2515,M037...
长沙      M2353,M3078,M3306,M0551,M0551,M5361,M0528,M486...
dtype: object

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("drugsale_test_data.csv")

In [45]:
data.head()

,ID,PMD_YEAR,PMD_QUARTER,PMD_CITY,PMD_MEDICINALSALEMONEY,PMD_MEDICINALSALENUMBER,PMD_MEDICINALNAME,PMD_COMPANYNAME,PMD_COMPANYID,PMD_MEDICINALINFORMATIONID,...,PMD_USEMETHOD,ETL_CRC,QA_RULE_CHK_FLG,QA_MANUAL_FLG,QA_ACTIVE_FLG,CREATE_BY,CREATE_TIME,UPDATE_BY,UPDATE_TIME,TMSTAMP
0,251401,2013,1,北京,750711.0000,328700.0,莫沙必利,日本住友制药,M3078,D0047870410AAA1303T010,...,内服,768914384,NaN,NaN,True,ETL,2018-11-01 20:49:59.333,ETL,2018-11-01 20:49:59.333,NaN
1,251417,2013,1,北京,55440.0000,48960.0,琥珀酸亚铁,四川奥邦药业,M3758,D0031030200AAA0102T024,...,内服,3631507639,NaN,NaN,True,ETL,2018-11-01 20:49:59.333,ETL,2018-11-01 20:49:59.333,NaN
2,2158330,2013,1,北京市,72513.2415,5843.0,金嗓散结,西安碑林药业,M4260,D0036600200DAA0102T131,...,内服,1796643922,NaN,NaN,True,talend_load@SHN1708DSL9YF2,2019-02-28 11:31:44.000,talend_load@SHN1708DSL9YF2,2019-02-28 11:31:44.000,NaN
3,2158331,2013,1,北京市,761737.0410,22656.0,坤宝,北京同仁堂股份同仁堂制药,M0489,D0040550100DAA1274T020,...,内服,3480623486,NaN,NaN,True,talend_load@SHN1708DSL9YF2,2019-02-28 11:31:44.000,talend_load@SHN1708DSL9YF2,2019-02-28 11:31:44.000,NaN
4,2158332,2013,1,北京市,2704.2472,158.0,尿感宁,贵州信邦制药,M1316,D0049040100CAA0237T012,...,内服,1337064295,NaN,NaN,True,talend_load@SHN1708DSL9YF2,2019-02-28 11:31:44.000,talend_load@SHN1708DSL9YF2,2019-02-28 11:31:44.000,NaN

[251401 2013 1 '\xe5\x8c\x97\xe4\xba\xac' 750711.0 328700.0
 '\xe8\x8e\xab\xe6\xb2\x99\xe5\xbf\x85\xe5\x88\xa9'
 '\xe6\x97\xa5\xe6\x9c\xac\xe4\xbd\x8f\xe5\x8f\x8b\xe5\x88\xb6\xe8\x8d\xaf'
 'M3078' 'D0047870410AAA1303T010' 'HA03FA-D004787' nan 10 nan nan nan nan
 nan nan nan nan nan nan 1 1 '\xe7\x89\x87\xe5\x89\x82' '5mg'
 '\xe5\x86\x85\xe6\x9c\x8d' 768914384 nan nan True 'ETL'
 '2018-11-01 20:49:59.333' 'ETL' '2018-11-01 20:49:59.333' nan]
('1', '2')

### https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

In [47]:
import dateutil

# Load data from csv file
# data = pd.DataFrame.from_csv('phone_data.csv')
# Convert date from string to date times
data['CREATE_TIME'] = data['CREATE_TIME'].apply(dateutil.parser.parse, dayfirst=True)
data.head()

,ID,PMD_YEAR,PMD_QUARTER,PMD_CITY,PMD_MEDICINALSALEMONEY,PMD_MEDICINALSALENUMBER,PMD_MEDICINALNAME,PMD_COMPANYNAME,PMD_COMPANYID,PMD_MEDICINALINFORMATIONID,...,PMD_USEMETHOD,ETL_CRC,QA_RULE_CHK_FLG,QA_MANUAL_FLG,QA_ACTIVE_FLG,CREATE_BY,CREATE_TIME,UPDATE_BY,UPDATE_TIME,TMSTAMP
0,251401,2013,1,北京,750711.0000,328700.0,莫沙必利,日本住友制药,M3078,D0047870410AAA1303T010,...,内服,768914384,NaN,NaN,True,ETL,2018-01-11 20:49:59.333,ETL,2018-11-01 20:49:59.333,NaN
1,251417,2013,1,北京,55440.0000,48960.0,琥珀酸亚铁,四川奥邦药业,M3758,D0031030200AAA0102T024,...,内服,3631507639,NaN,NaN,True,ETL,2018-01-11 20:49:59.333,ETL,2018-11-01 20:49:59.333,NaN
2,2158330,2013,1,北京市,72513.2415,5843.0,金嗓散结,西安碑林药业,M4260,D0036600200DAA0102T131,...,内服,1796643922,NaN,NaN,True,talend_load@SHN1708DSL9YF2,2019-02-28 11:31:44.000,talend_load@SHN1708DSL9YF2,2019-02-28 11:31:44.000,NaN
3,2158331,2013,1,北京市,761737.0410,22656.0,坤宝,北京同仁堂股份同仁堂制药,M0489,D0040550100DAA1274T020,...,内服,3480623486,NaN,NaN,True,talend_load@SHN1708DSL9YF2,2019-02-28 11:31:44.000,talend_load@SHN1708DSL9YF2,2019-02-28 11:31:44.000,NaN
4,2158332,2013,1,北京市,2704.2472,158.0,尿感宁,贵州信邦制药,M1316,D0049040100CAA0237T012,...,内服,1337064295,NaN,NaN,True,talend_load@SHN1708DSL9YF2,2019-02-28 11:31:44.000,talend_load@SHN1708DSL9YF2,2019-02-28 11:31:44.000,NaN

In [19]:
data.head()
# str(data.values)

"[[251401L 2013L 1L ... 'ETL' '2018-11-01 20:49:59.333' nan]\n [251417L 2013L 1L ... 'ETL' '2018-11-01 20:49:59.333' nan]\n [2158330L 2013L 1L ... 'talend_load@SHN1708DSL9YF2'\n  '2019-02-28 11:31:44.000' nan]\n ...\n [2532104L 2013L 1L ... 'talend_load@SHN1708DSL9YF2'\n  '2019-02-28 13:58:22' nan]\n [2532105L 2013L 1L ... 'talend_load@SHN1708DSL9YF2'\n  '2019-02-28 13:58:22' nan]\n [2532106L 2013L 1L ... 'talend_load@SHN1708DSL9YF2'\n  '2019-02-28 13:58:22' nan]]"

In [48]:
# 相当于在某一列上做groupby再得到行计数
data["PMD_CITY"].value_counts()

广州      17896
北京      14012
郑州      13284
上海      13062
成都      12302
重庆      12229
武汉      11906
长沙      11796
济南      11678
杭州      10407
沈阳       9599
石家庄      9597
南京       9401
哈尔滨      9019
天津       8796
西安       8698
郑州市      5613
北京市      4410
广州市      4356
重庆市      4224
成都市      3642
南京市      3282
沈阳市      2562
西安市      2457
哈尔滨市     2199
Name: PMD_CITY, dtype: int64

In [49]:
data.groupby(["PMD_CITY"]).groups.keys()

['\xe5\xb9\xbf\xe5\xb7\x9e\xe5\xb8\x82',
 '\xe5\x8d\x97\xe4\xba\xac\xe5\xb8\x82',
 '\xe6\xb2\x88\xe9\x98\xb3\xe5\xb8\x82',
 '\xe5\x8c\x97\xe4\xba\xac',
 '\xe9\x87\x8d\xe5\xba\x86\xe5\xb8\x82',
 '\xe6\xad\xa6\xe6\xb1\x89',
 '\xe9\x95\xbf\xe6\xb2\x99',
 '\xe6\x88\x90\xe9\x83\xbd',
 '\xe4\xb8\x8a\xe6\xb5\xb7',
 '\xe5\x93\x88\xe5\xb0\x94\xe6\xbb\xa8\xe5\xb8\x82',
 '\xe6\x9d\xad\xe5\xb7\x9e',
 '\xe6\x88\x90\xe9\x83\xbd\xe5\xb8\x82',
 '\xe7\x9f\xb3\xe5\xae\xb6\xe5\xba\x84',
 '\xe5\xa4\xa9\xe6\xb4\xa5',
 '\xe9\x83\x91\xe5\xb7\x9e\xe5\xb8\x82',
 '\xe9\x83\x91\xe5\xb7\x9e',
 '\xe6\xb2\x88\xe9\x98\xb3',
 '\xe8\xa5\xbf\xe5\xae\x89\xe5\xb8\x82',
 '\xe5\x93\x88\xe5\xb0\x94\xe6\xbb\xa8',
 '\xe5\xb9\xbf\xe5\xb7\x9e',
 '\xe6\xb5\x8e\xe5\x8d\x97',
 '\xe8\xa5\xbf\xe5\xae\x89',
 '\xe9\x87\x8d\xe5\xba\x86',
 '\xe5\x8d\x97\xe4\xba\xac',
 '\xe5\x8c\x97\xe4\xba\xac\xe5\xb8\x82']

In [50]:
data.groupby("PMD_CITY")['PMD_MEDICINALSALEMONEY'].sum()

PMD_CITY
上海      9.013887e+09
北京      1.116227e+10
北京市     4.453168e+09
南京      3.025418e+09
南京市     1.738821e+09
哈尔滨     2.418503e+09
哈尔滨市    1.858250e+09
天津      2.799192e+09
广州      8.544224e+09
广州市     2.171378e+09
成都      3.161391e+09
成都市     1.950799e+09
杭州      5.086572e+09
武汉      4.281739e+09
沈阳      2.120332e+09
沈阳市     1.188307e+09
济南      2.361001e+09
石家庄     2.027361e+09
西安      1.249036e+09
西安市     1.652649e+09
郑州      3.739957e+09
郑州市     1.417676e+09
重庆      3.337902e+09
重庆市     2.522970e+09
长沙      3.411868e+09
Name: PMD_MEDICINALSALEMONEY, dtype: float64

In [52]:
data.groupby("PMD_CITY")['PMD_MEDICINALSALENUMBER'].count()

PMD_CITY
上海      13062
北京      14012
北京市      4410
南京       9401
南京市      3282
哈尔滨      9019
哈尔滨市     2199
天津       8796
广州      17896
广州市      4356
成都      12302
成都市      3642
杭州      10407
武汉      11906
沈阳       9599
沈阳市      2562
济南      11678
石家庄      9597
西安       8698
西安市      2457
郑州      13284
郑州市      5613
重庆      12229
重庆市      4224
长沙      11796
Name: PMD_MEDICINALSALENUMBER, dtype: int64

### Groupby output format – Series or DataFrame?

The output from a groupby and aggregation operation varies between Pandas Series and Pandas Dataframes, which can be confusing for new users. As a rule of thumb, if you calculate more than one column of results, your result will be a Dataframe. For a single column of results, the agg function, by default, will produce a Series.