##### homepage: http://pandas.pydata.org/index.html

# Indexing and Selecting Data

In [18]:
# https://pandas.pydata.org/pandas-docs/stable/indexing.html
# https://www.oreilly.com/learning/introducing-pandas-objects

# Creating DataFrame

In [9]:
import pandas as pd
import warnings
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")

# df1 = pd.read_csv("./trainset/pcdata_0611.csv") 
# read_sql read_html

### read_csv

In [ ]:
# spcify type for column1
df1 = pd.read_csv("./trainset/pcdata_0611.csv", {"column1": str})

### Specify values for each column.

In [20]:
pd.DataFrame({'A': [1, 2, 3],
              'B': [4, 5, 6]},  
                    index=list('abc'))

   A  B
a  1  4
b  2  5
c  3  6

### Specify values for each row.

In [21]:
pd.DataFrame([[1, 2, 3],
              [4, 5, 6]],
                    index=list('ab'), columns=['a','b','c'])

   a  b  c
a  1  2  3
b  4  5  6

In [30]:
# dfd = pd.DataFrame({'A': [1, 2, 3],
#                     'B': [4, 5, 6]},  
#                     index=list('abc'))
# dfd

   A  B
a  1  4
b  2  5
c  3  6

### https://stackoverflow.com/questions/38917945/how-indexing-works-in-pandas

### read from local file

In [23]:
style = pd.read_csv('data_morning_start_style.csv')
style.head()

   SECURITY_ID_INT       raw_X       raw_Y vertical horizontal
0             1734 -106.512730  223.595615    large      value
1             1351  -95.753155  244.328818    large      value
2             2228  -74.231371  318.054976    large      value
3             2296  -57.797931  394.503697    large      value
4             1971  -50.873616  581.970420    large      value

### from dict

In [29]:
pd.DataFrame.from_dict({'A': [1, 2, 3],
                        'B': [4, 5, 6]})

   A  B
0  1  4
1  2  5
2  3  6

# Growth

### .append

In [23]:
df = pd.DataFrame(columns=['taskID', 'datayes_tables', 'solid_tables', 'datayes_imgs', 'solid_imgs'])

In [24]:
df = df.append({'taskID': 'XXX', 'datayes_tables': 1, 'solid_tables': 2,
                'datayes_imgs': 3, 'solid_imgs': 4}, ignore_index=True)
df

  taskID datayes_tables solid_tables datayes_imgs solid_imgs
0    XXX              1            2            3          4

# Reshaping Data

### .melt

In [24]:
dfd = pd.DataFrame({'A': [1, 2, 3],
              'B': [4, 5, 6]},  
                    index=list('abc'))
dfd

   A  B
a  1  4
b  2  5
c  3  6

In [25]:
pd.melt(dfd)

  variable  value
0        A      1
1        A      2
2        A      3
3        B      4
4        B      5
5        B      6

In [26]:
dfd = pd.DataFrame({'A': [1, 2, 3],
                    'B': [4, 5, 6],
                    'C': [7, 8, 9]
                   }, 
                    index=list('abc'))
dfd

   A  B  C
a  1  4  7
b  2  5  8
c  3  6  9

In [27]:
pd.melt(dfd)

  variable  value
0        A      1
1        A      2
2        A      3
3        B      4
4        B      5
5        B      6
6        C      7
7        C      8
8        C      9

### .concat
more efficient than append
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html?highlight=concat#pandas.concat

In [31]:
pd.concat([dfd, dfd])

   A  B
a  1  4
b  2  5
c  3  6
a  1  4
b  2  5
c  3  6

In [34]:
# from pandas import MultiIndex
# arrays = [[1, 1, 2, 2], ['red', 'blue', 'red', 'blue']]
# MultiIndex.from_arrays(arrays, names=('number', 'color'))

MultiIndex(levels=[[1, 2], [u'blue', u'red']],
           labels=[[0, 0, 1, 1], [1, 0, 1, 0]],
           names=[u'number', u'color'])

In [28]:
pd.concat([dfd, dfd], ignore_index=True)

   A  B
0  1  4
1  2  5
2  3  6
3  1  4
4  2  5
5  3  6

##### axis : {0/’index’, 1/’columns’}, default 0

    The axis to concatenate along

In [29]:
pd.concat([dfd, dfd], axis=1)

   A  B  A  B
a  1  4  1  4
b  2  5  2  5
c  3  6  3  6

### .pivot

### .sort_values

In [ ]:
dfd.sort_values("A")

In [ ]:
dfd.sort_values("A", ascending=False)

### .rename

In [ ]:
dfd.rename(columns={"A":"new_name"})
dfd

In [ ]:
dfd.rename(columns={"A":"new_name"}, inplace=True)
dfd

### .sort_index

In [ ]:
dfd.sort_index()

### .reset_index
reset index of DataFrame to row numbers, moving index to columns.

In [ ]:
dfd.reset_index()

### .drop

In [ ]:
dfd.drop(['A'], axis=1)

### .T
Transpose

In [ ]:
dfd.T

# Index
https://stackoverflow.com/questions/27238066/what-is-the-point-of-indexing-in-pandas

In [ ]:
dfd[["A","B"]]

In [ ]:
dfd[1:2]

In [ ]:
dfd[::2]

### new column

In [ ]:
tdf = dfd
tdf["C"] = tdf["A"] + tdf["B"]
tdf

In [ ]:
tdf.loc[:,'d'] = tdf["C"]
tdf

### new row

In [ ]:
tdf.append(pd.DataFrame([[2,4,6]], columns=["A","B","C"]))

In [ ]:
# tdf2.reset_index()

In [ ]:
tdf.append(tdf)

# Subset Observations

In [ ]:
dfd

In [ ]:
dfd[dfd.A>1]

In [ ]:
dfd.A>1

In [ ]:
filter = dfd.A>1
type(filter)

In [ ]:
# dfd[dfd.C > dfd.A]

### .isin

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'f']})
df

In [ ]:
df.isin({"A": [1,3,5]})

In [ ]:
df.A.isin([1,3,5])

In [ ]:
df[df.isin({"A": [1,3,5]})]

In [ ]:
df[df.A.isin([1,3,5])]

In [ ]:
df[df.isin({"A": [1,3,5], "B": ['b']})]

In [ ]:
# dates = pd.date_range('1/1/2000', periods=8)

# df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
# df

### .loc
df.loc[row_indexer,column_indexer]

In [36]:
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2000-01-01 -0.136714  1.550780  1.452724  1.143096
2000-01-02  2.215118  0.825270  0.205109  2.139088
2000-01-03  0.912208 -1.657296 -0.120799  0.236236
2000-01-04 -0.585417 -1.033261  0.362736  2.467771
2000-01-05  0.160235  2.446380  0.494793  0.473174
2000-01-06  0.243336  1.418383 -1.568876  1.634944
2000-01-07  0.543571 -0.148204  0.378024 -1.068057
2000-01-08 -0.779522  0.772667  0.185487  0.391856

In [ ]:
# df.loc[:]

In [ ]:
# note the difference between with and without the brackets
df1 = df.loc[:, ['A']]
print type(df1)
df2 = df.loc[:, 'A']
print type(df2)

In [ ]:
df.loc[:, ["A"]]

##### String likes in slicing can be convertible to the type of the index and lead to natural slicing.

In [ ]:
 df.loc['20000101':'20000105', :]

In [ ]:
# df.loc[:3]

### .iloc

In [ ]:
df.iloc[:3]

In [ ]:
df.iloc[:3, 2:4]

### .index

In [45]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
   'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
pd.DataFrame(d)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [46]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
   'two' : pd.Series([1., 2., 3., 4.], index=['e', 'f', 'g', 'h'])}
pd.DataFrame(d)

   one  two
a  1.0  NaN
b  2.0  NaN
c  3.0  NaN
e  NaN  1.0
f  NaN  2.0
g  NaN  3.0
h  NaN  4.0

In [43]:
df.set_index("A").index

Float64Index([-0.136714101693,   2.21511846737,  0.912207706782,
              -0.585416950854,   0.16023508722,  0.243335503307,
               0.543570768481, -0.779521580484],
             dtype='float64', name=u'A')

In [40]:
df.index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [38]:
df.index[[0, 2]]

DatetimeIndex(['2000-01-01', '2000-01-03'], dtype='datetime64[ns]', freq=None)

In [ ]:
df.loc[df.index[[0, 2]],['A']]

In [ ]:
filters = df.index>'2000-01-05'
filters
df.loc[filters, :]

In [ ]:
# bad case
# df.loc[[0,2],['A']] 
df.iloc[filters, :]

In [37]:
# df.index>'2000-01-05'
type(df.index>'2000-01-05')

numpy.ndarray

### .get_loc

In [ ]:
df.columns.get_loc('A')

In [ ]:
df.iloc[[0, 2], [df.columns.get_loc('A')]]

### .get_indexer
For getting multiple indexers

In [ ]:
df.columns.get_indexer(['A', 'B'])

In [ ]:
df.iloc[[0, 2], df.columns.get_indexer(['A', 'B'])]

### .loc vs .iloc
https://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation

In [ ]:
df2 = df.reset_index(drop=True)
df2 = df2.sort_values("A")
df2

In [ ]:
df2.loc[:3]

In [ ]:
# df2.loc[:1, ['A','C']]

In [ ]:
df2.iloc[:3]

In [ ]:
# df2.iloc[:1, :3]

### .ix 
starting from Pandas 0.20.1 the .ix indexer is deprecated, in favor of the more strict .iloc and .loc indexers.

### .ix vs .iloc vs .loc
https://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation-how-are-they-different

### Different Choices for Indexing
http://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing

##### what else?

In [ ]:
df2.loc[:3]

In [ ]:
df2.iloc[:3]

# Summarize Data

In [ ]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

### .value_counts

In [ ]:
df["A"].value_counts()

### len

In [ ]:
len(df)

### .nunique

In [ ]:
df["B"].nunique()

### .unique

In [ ]:
df.B.unique()

### .describe

In [ ]:
df.describe()

### .sum

In [ ]:
df.sum()

In [ ]:
df.A.sum()

### .count

In [ ]:
df.count()

In [ ]:
df.A.count()

### .median

In [ ]:
df.median()

In [ ]:
df.A.median()

### .quantile

In [ ]:
df.quantile([0.25,0.75])

### .apply

In [ ]:
def add_one(input):
    return input + 1
df.apply(add_one)

In [ ]:
df

In [ ]:
df.min()

In [ ]:
df.max()

In [ ]:
df.mean()

In [ ]:
df.var() # variance of each object

In [ ]:
df.std() # standard deviation of each object

# Group Data

### .groupby

In [10]:
import pandas as pd
style = pd.read_csv('data_morning_start_style.csv')
style.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3089 entries, 0 to 3088
Data columns (total 5 columns):
SECURITY_ID_INT    3089 non-null int64
raw_X              3089 non-null float64
raw_Y              3089 non-null float64
vertical           3089 non-null object
horizontal         3089 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 120.7+ KB

In [13]:
# to calculate the mean of vertical group
dfgroup = style[['raw_X','raw_Y','vertical']].groupby(['vertical']).agg(['mean', 'std', 'sum', 'count'])
# dfgroup = style.groupby(['vertical']).agg(['mean', 'std'])

dfgroup

               raw_X                                        raw_Y             \
                mean         std            sum count        mean        std
vertical
large     200.941888   98.033842  113934.050711   567  276.059847  76.808567
mid       154.432431  132.723943  176825.132965  1145  142.928277  28.416332
small     161.970242  140.382012  223033.023117  1377   55.174502  28.432147


                    sum count
vertical
large     156525.933138   567
mid       163652.877330  1145
small      75975.289710  1377

In [14]:
dfgroup.columns

MultiIndex(levels=[[u'raw_X', u'raw_Y'], [u'mean', u'std', u'sum', u'count']],
           labels=[[0, 0, 0, 0, 1, 1, 1, 1], [0, 1, 2, 3, 0, 1, 2, 3]])

### .droplevel

In [ ]:
dfgroup.columns.droplevel(0)
# dfgroup.columns.droplevel(1)

In [ ]:
tdf = dfgroup
tdf.columns = dfgroup.columns.droplevel(0)
tdf

# Handling Missing Data

### .dropna()

In [ ]:
tdf.dropna()

In [ ]:
tdf.dropna(how="all")

### .fillna

In [ ]:
tdf.fillna(0)

# Combine Data Sets

### .merge

In [ ]:
dfa = pd.DataFrame({'key': ["foo","bar","baz"],
                    'v1': [4, 5, 6]})
dfb = pd.DataFrame({'key': ["foo","bar","qux"],
                    'v2': [1, 2, 3]})

In [ ]:
dfa

In [ ]:
dfb

In [ ]:
dfa.merge(dfb, on="key")

In [ ]:
pd.merge(dfa,dfb)

##### _merge
indicator

##### Q: How to get rows that appear in dfa but not dfb ?

In [ ]:
pd.merge(dfa, dfb, how='outer',indicator=True)

# Method Chaining

In [ ]:
pd.merge(dfa, dfb, how='outer',indicator=True).query('_merge=="left_only"').drop("_merge", axis=1)

int

2019
2018
2017
2016
2015
2014
2013
2012
2011
2010
2009
2008
2007
2006
2005
2004
2003

# Example

### .read_csv
fund style 20171229

In [9]:
style = pd.read_csv('20171229.csv')
style.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3089 entries, 0 to 3088
Data columns (total 5 columns):
SECURITY_ID_INT    3089 non-null int64
raw_X              3089 non-null float64
raw_Y              3089 non-null float64
vertical           3089 non-null object
horizontal         3089 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 120.7+ KB

In [5]:
style.head(5)

   SECURITY_ID_INT       raw_X       raw_Y vertical horizontal
0             1734 -106.512730  223.595615    large      value
1             1351  -95.753155  244.328818    large      value
2             2228  -74.231371  318.054976    large      value
3             2296  -57.797931  394.503697    large      value
4             1971  -50.873616  581.970420    large      value

In [6]:
style.vertical.unique()

array(['large', 'mid', 'small'], dtype=object)

In [7]:
style.horizontal.unique()

array(['value', 'core', 'growth'], dtype=object)

### .sort_values
ascending : default True
inplace : bool, default False

    if True, perform operation in-place

In [ ]:
style.sort_values("SECURITY_ID_INT", inplace=True)
style.head(10)

In [ ]:
style.tail()

In [ ]:
.sort_index()

In [ ]:
style.sort_index().head()

In [ ]:
# style.head()

### .reset_index

In [ ]:
# df

In [ ]:
df.reset_index()

##### Q: how to aviod old index being added as a column?

In [ ]:
# df.reset_index()

In [ ]:
df2 = df.reset_index(drop=True)
df2

### .set_index
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html?highlight=set_index

In [ ]:
tdf = df.reset_index()
tdf.set_index("index")

In [ ]:
tdf = df.reset_index()
tdf.set_index("A")

In [ ]:
# style.reset_index(inplace=True)
style.reset_index(inplace=True, drop=True )

style.head()
# style

### .index

In [ ]:
filter = style[style.horizontal=='value'].index
# .indexs()
filter
# type(filter)

### .drop
axis : {0 or ‘index’, 1 or ‘columns’}, default 0
Whether to drop labels from the index (0 or ‘index’) or columns (1 or ‘columns’).
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html?highlight=drop#pandas.DataFrame.drop

In [ ]:
style.drop(filter).head()

In [ ]:
style.info()

In [ ]:
# style[style.horizontal=='value']
# style[style.horizontal=='value']

In [ ]:
style.head(5)

# reshape
https://pandas.pydata.org/pandas-docs/stable/reshaping.html?highlight=reshape

In [3]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two', 'two'],
                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'baz': [1, 2, 3, 4, 5, 6],
                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

  bar  baz  foo zoo
0   A    1  one   x
1   B    2  one   y
2   C    3  one   z
3   A    4  two   q
4   B    5  two   w
5   C    6  two   t

### .melt

In [ ]:
pd.melt(df)

### .stack

In [ ]:
df.stack()
# type(df.stack())

In [ ]:
df.unstack()
# type(df.stack())

In [8]:
df.groupby("bar")['foo'].value_counts()

bar  foo
A    one    1
     two    1
B    one    1
     two    1
C    one    1
     two    1
Name: foo, dtype: int64

In [9]:
df.groupby("bar")['foo'].value_counts().unstack()

foo  one  two
bar
A      1    1
B      1    1
C      1    1

### .pivot
Return reshaped DataFrame organized by given index / column values

In [ ]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two', 'two'],
                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'baz': [1, 2, 3, 4, 5, 6],
                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

In [ ]:
df.pivot(index='foo', columns='bar', values='baz')

In [ ]:
df.pivot(index='foo', columns='bar')

In [ ]:
style.head()

In [ ]:
tdf = style[['raw_X','vertical', "horizontal"]].groupby(['vertical', "horizontal"]).agg(['mean', 'std'])
tdf

In [ ]:
tdf.columns = tdf.columns.droplevel(0)
tdf

In [ ]:
tdf = tdf.reset_index()
tdf

In [ ]:
tdf.pivot(index="vertical", columns="horizontal")

# Challenge

### .shift
Shift index by desired number of periods with an optional time freq

In [ ]:
tdf = style[:5]
tdf

In [ ]:
tdf.raw_X = tdf.raw_X.shift(1)
tdf

### .idxmax

In [20]:
df = pd.DataFrame({'A': [7, 2, 3],
              'B': [4, 5, 6]},  
                    index=list('abc'))

In [18]:
df.head()

   A  B
a  7  4
b  2  5
c  3  6

In [22]:
df["max"] = df[["A", "B"]].idxmax(axis=1)

In [23]:
df.head()

   A  B max
a  7  4   A
b  2  5   B
c  3  6   B

In [ ]:
.cumsum

In [27]:
df['cumsum']=df.groupby("bar")["baz"].cumsum()
df

  bar  baz  foo zoo  cumsum
0   A    1  one   x       1
1   B    2  one   y       2
2   C    3  one   z       3
3   A    4  two   q       5
4   B    5  two   w       7
5   C    6  two   t       9

In [26]:
from pandas_datareader import data, wb
# https://pandas-datareader.readthedocs.io/en/latest/
# DAX = web.DataReader(name='^GDAXI', data_source='yahoo', start='2017-1-1')

In [18]:
import pandas_datareader as pdr
# pdr.get_data_fred('GS10')

In [15]:
# import pandas_datareader.data as web
# import datetime
# start = datetime.datetime(2017, 1, 1)
# end = datetime.datetime(2017, 1, 27)
# f = web.DataReader('F', 'morningstar', start, end)
# f

In [11]:
from pandas_datareader import data, wb
import numpy as np

from datetime import datetime

# start = datetime.datetime(2010, 1, 1)
# end = datetime.datetime(2017, 1, 1)
# df = data.get_data_yahoo('MS', start, end)

# type(datetime.today().year)
# for y in reversed(range(2003, 2020)):
#     print y

dates = pd.date_range('1/1/2000', periods=8)
dates
# df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
# df


# pd.date_range(start='2019-01-01', end='2019-03-01')

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [5]:
import numpy as np

In [3]:
df.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  29.770000  29.440001  29.490000  29.600000   9876900.0  25.955486
2010-01-04  31.969999  30.629999  30.700001  30.910000  20371000.0  27.104185
2010-01-05  32.130001  30.930000  31.010000  32.040001  22523400.0  28.095060
2010-01-06  32.590000  31.790001  31.969999  32.450001  17028500.0  28.454571
2010-01-07  33.270000  32.270000  32.459999  32.919998  18693000.0  28.866699

### compare two columns

In [6]:
df["equal"] = np.where((df.High == df.Low), True, False)
df.head()

,High,Low,Open,Close,Volume,Adj Close,equal
Date,,,,,,,
2009-12-31,29.770000,29.440001,29.490000,29.600000,9876900.0,25.955486,False
2010-01-04,31.969999,30.629999,30.700001,30.910000,20371000.0,27.104185,False
2010-01-05,32.130001,30.930000,31.010000,32.040001,22523400.0,28.095060,False
2010-01-06,32.590000,31.790001,31.969999,32.450001,17028500.0,28.454571,False
2010-01-07,33.270000,32.270000,32.459999,32.919998,18693000.0,28.866699,False

# .to_csv

In [ ]:
df.to_csv("qa_err_items.csv", encoding='utf-8')

###### 2018-08-23