### 对接替换solid的pdf转html算法， 比对两种算法的转换结果， 得到表格及图片数量的统计值， 以下用pandas做分析

In [1]:
import pandas as pd
import warnings
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")

# read_sql read_html

In [3]:
df = pd.read_csv("D:/solid/report_classify.csv")

In [4]:
df.head()

,taskID,datayes_tables,solid_tables,datayes_imgs,solid_imgs,equal_tables,equal_imgs
0,__tQV4xusYYONDwOPr-uMg,1,1,1,0,True,False
1,L-TZ8A1Qmp3xHLdMKrWfaw,1,5,1,0,False,False
2,k00Aenzf4GEOdePGOc_7IQ,1,1,0,1,True,False
3,PuafAOGdwR2fzl8by02jNg,3,3,1,0,True,False
4,Y_AMv6eXiLEeQnIBRsPk8g,0,0,0,0,True,True

In [14]:
df.groupby(['equal_tables']).agg(['sum', 'count'])

                                                         taskID        \
                                                            sum count
equal_tables
False         L-TZ8A1Qmp3xHLdMKrWfawqUpHPkPFTGWnJ3trIPFyvwxs...   327
True          __tQV4xusYYONDwOPr-uMgk00Aenzf4GEOdePGOc_7IQPu...   983

             datayes_tables       solid_tables       datayes_imgs        \
                        sum count          sum count          sum count
equal_tables
False                  4148   327         6350   327         7778   327
True                    538   983          538   983          990   983

             solid_imgs       equal_imgs
                    sum count        sum count
equal_tables
False              1380   327       90.0   327
True                454   983      400.0   983

### do as "group by" and "count(*)"

In [12]:
df.groupby(['equal_tables']).size()

equal_tables
False    327
True     983
dtype: int64

In [13]:
df.groupby(['equal_tables']).size().reset_index(name='counts')

   equal_tables  counts
0         False     327
1          True     983

In [15]:
df.groupby(['equal_imgs']).size().reset_index(name='counts')

   equal_imgs  counts
0       False     820
1        True     490