##### homepage: http://pandas.pydata.org/index.html

# Indexing and Selecting Data

In [18]:
# https://pandas.pydata.org/pandas-docs/stable/indexing.html
# https://www.oreilly.com/learning/introducing-pandas-objects

# Creating DataFrame

In [19]:
import pandas as pd
import warnings
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")

# df1 = pd.read_csv("./trainset/pcdata_0611.csv") 
# read_sql read_html

### Specify values for each column.

In [20]:
pd.DataFrame({'A': [1, 2, 3],
              'B': [4, 5, 6]},  
                    index=list('abc'))

   A  B
a  1  4
b  2  5
c  3  6

### Specify values for each row.

In [21]:
pd.DataFrame([[1, 2, 3],
              [4, 5, 6]],
                    index=list('ab'), columns=['a','b','c'])

   a  b  c
a  1  2  3
b  4  5  6

In [22]:
dfd = pd.DataFrame({'A': [1, 2, 3],
                    'B': [4, 5, 6]},  
                    index=list('abc'))
dfd

   A  B
a  1  4
b  2  5
c  3  6

### https://stackoverflow.com/questions/38917945/how-indexing-works-in-pandas

### read

In [23]:
style = pd.read_csv('20171229.csv')
style.head()

   SECURITY_ID_INT       raw_X       raw_Y vertical horizontal
0             1734 -106.512730  223.595615    large      value
1             1351  -95.753155  244.328818    large      value
2             2228  -74.231371  318.054976    large      value
3             2296  -57.797931  394.503697    large      value
4             1971  -50.873616  581.970420    large      value

# Reshaping Data

In [24]:
dfd = pd.DataFrame({'A': [1, 2, 3],
              'B': [4, 5, 6]},  
                    index=list('abc'))
dfd

   A  B
a  1  4
b  2  5
c  3  6

### .melt

In [25]:
pd.melt(dfd)

  variable  value
0        A      1
1        A      2
2        A      3
3        B      4
4        B      5
5        B      6

### .concat
more efficient than append
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html?highlight=concat#pandas.concat

In [26]:
pd.concat([dfd, dfd])

   A  B
a  1  4
b  2  5
c  3  6
a  1  4
b  2  5
c  3  6

In [28]:
pd.concat([dfd, dfd], ignore_index=True)

   A  B
0  1  4
1  2  5
2  3  6
3  1  4
4  2  5
5  3  6

##### axis : {0/’index’, 1/’columns’}, default 0

    The axis to concatenate along

In [29]:
pd.concat([dfd, dfd], axis=1)

   A  B  A  B
a  1  4  1  4
b  2  5  2  5
c  3  6  3  6

### .pivot

### .sort_values

In [ ]:
dfd.sort_values("A")

In [ ]:
dfd.sort_values("A", ascending=False)

### .rename

In [ ]:
dfd.rename(columns={"A":"new_name"})
dfd

In [ ]:
dfd.rename(columns={"A":"new_name"}, inplace=True)
dfd

### .sort_index

In [ ]:
dfd.sort_index()

### .reset_index
reset index of DataFrame to row numbers, moving index to columns.

In [ ]:
dfd.reset_index()

### .drop

In [ ]:
dfd.drop(['A'], axis=1)

### .T
Transpose

In [ ]:
dfd.T

# Index
https://stackoverflow.com/questions/27238066/what-is-the-point-of-indexing-in-pandas

In [ ]:
dfd[["A","B"]]

In [ ]:
dfd[1:2]

In [ ]:
dfd[::2]

### new column

In [ ]:
tdf = dfd
tdf["C"] = tdf["A"] + tdf["B"]
tdf

In [ ]:
tdf.loc[:,'d'] = tdf["C"]
tdf

### new row

In [ ]:
tdf.append(pd.DataFrame([[2,4,6]], columns=["A","B","C"]))

In [ ]:
# tdf2.reset_index()

In [ ]:
tdf.append(tdf)

# Subset Observations

In [ ]:
dfd

In [ ]:
dfd[dfd.A>1]

In [ ]:
dfd.A>1

In [ ]:
filter = dfd.A>1
type(filter)

In [ ]:
# dfd[dfd.C > dfd.A]

### .isin

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': ['a', 'b', 'f']})
df

In [ ]:
df.isin({"A": [1,3,5]})

In [ ]:
df.A.isin([1,3,5])

In [ ]:
df[df.isin({"A": [1,3,5]})]

In [ ]:
df[df.A.isin([1,3,5])]

In [ ]:
df[df.isin({"A": [1,3,5], "B": ['b']})]

In [ ]:
# dates = pd.date_range('1/1/2000', periods=8)

# df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
# df

### .loc
df.loc[row_indexer,column_indexer]

In [ ]:
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

In [ ]:
# df.loc[:]

In [ ]:
# note the difference between with and without the brackets
df1 = df.loc[:, ['A']]
print type(df1)
df2 = df.loc[:, 'A']
print type(df2)

In [ ]:
df.loc[:, ["A"]]

##### String likes in slicing can be convertible to the type of the index and lead to natural slicing.

In [ ]:
 df.loc['20000101':'20000105', :]

In [ ]:
# df.loc[:3]

### .iloc

In [ ]:
df.iloc[:3]

In [ ]:
df.iloc[:3, 2:4]

### .index

In [ ]:
df.index[[0, 2]]

In [ ]:
df.loc[df.index[[0, 2]],['A']]

In [ ]:
filters = df.index>'2000-01-05'
filters
df.loc[filters, :]

In [ ]:
# bad case
# df.loc[[0,2],['A']] 
df.iloc[filters, :]

In [ ]:
# df.index>'2000-01-05'
type(df.index>'2000-01-05')

### .get_loc

In [ ]:
df.columns.get_loc('A')

In [ ]:
df.iloc[[0, 2], [df.columns.get_loc('A')]]

### .get_indexer
For getting multiple indexers

In [ ]:
df.columns.get_indexer(['A', 'B'])

In [ ]:
df.iloc[[0, 2], df.columns.get_indexer(['A', 'B'])]

### .loc vs .iloc
https://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation

In [ ]:
df2 = df.reset_index(drop=True)
df2 = df2.sort_values("A")
df2

In [ ]:
df2.loc[:3]

In [ ]:
# df2.loc[:1, ['A','C']]

In [ ]:
df2.iloc[:3]

In [ ]:
# df2.iloc[:1, :3]

### .ix 
starting from Pandas 0.20.1 the .ix indexer is deprecated, in favor of the more strict .iloc and .loc indexers.

### .ix vs .iloc vs .loc
https://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation-how-are-they-different

### Different Choices for Indexing
http://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing

##### what else?

In [ ]:
df2.loc[:3]

In [ ]:
df2.iloc[:3]

# Summarize Data

In [ ]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

### .value_counts

In [ ]:
df["A"].value_counts()

### len

In [ ]:
len(df)

### .nunique

In [ ]:
df["B"].nunique()

### .unique

In [ ]:
df.B.unique()

### .describe

In [ ]:
df.describe()

### .sum

In [ ]:
df.sum()

In [ ]:
df.A.sum()

### .count

In [ ]:
df.count()

In [ ]:
df.A.count()

### .median

In [ ]:
df.median()

In [ ]:
df.A.median()

### .quantile

In [ ]:
df.quantile([0.25,0.75])

### .apply

In [ ]:
def add_one(input):
    return input + 1
df.apply(add_one)

In [ ]:
df

In [ ]:
df.min()

In [ ]:
df.max()

In [ ]:
df.mean()

In [ ]:
df.var() # variance of each object

In [ ]:
df.std() # standard deviation of each object

# Group Data

### .groupby

In [ ]:
# to calculate the mean of vertical group
dfgroup = style[['raw_X','raw_Y','vertical']].groupby(['vertical']).agg(['mean', 'std'])
# dfgroup = style.groupby(['vertical']).agg(['mean', 'std'])

dfgroup

In [ ]:
dfgroup.columns

### .droplevel

In [ ]:
dfgroup.columns.droplevel(0)
# dfgroup.columns.droplevel(1)

In [ ]:
tdf = dfgroup
tdf.columns = dfgroup.columns.droplevel(0)
tdf

# Handling Missing Data

### .dropna()

In [ ]:
tdf.dropna()

In [ ]:
tdf.dropna(how="all")

### .fillna

In [ ]:
tdf.fillna(0)

# Combine Data Sets

### .merge

In [ ]:
dfa = pd.DataFrame({'key': ["foo","bar","baz"],
                    'v1': [4, 5, 6]})
dfb = pd.DataFrame({'key': ["foo","bar","qux"],
                    'v2': [1, 2, 3]})

In [ ]:
dfa

In [ ]:
dfb

In [ ]:
dfa.merge(dfb, on="key")

In [ ]:
pd.merge(dfa,dfb)

##### _merge
indicator

##### Q: How to get rows that appear in dfa but not dfb ?

In [ ]:
pd.merge(dfa, dfb, how='outer',indicator=True)

# Method Chaining

In [ ]:
pd.merge(dfa, dfb, how='outer',indicator=True).query('_merge=="left_only"').drop("_merge", axis=1)

# Example

### .read_csv
fund style 20171229

In [ ]:
style = pd.read_csv('20171229.csv')
style.info()

In [ ]:
style.head(5)

In [ ]:
style.vertical.unique()

In [ ]:
style.horizontal.unique()

### .sort_values
ascending : default True
inplace : bool, default False

    if True, perform operation in-place

In [ ]:
style.sort_values("SECURITY_ID_INT", inplace=True)
style.head(10)

In [ ]:
style.tail()

In [ ]:
.sort_index()

In [ ]:
style.sort_index().head()

In [ ]:
# style.head()

### .reset_index

In [ ]:
# df

In [ ]:
df.reset_index()

##### Q: how to aviod old index being added as a column?

In [ ]:
# df.reset_index()

In [ ]:
df2 = df.reset_index(drop=True)
df2

### .set_index
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html?highlight=set_index

In [ ]:
tdf = df.reset_index()
tdf.set_index("index")

In [ ]:
tdf = df.reset_index()
tdf.set_index("A")

In [ ]:
# style.reset_index(inplace=True)
style.reset_index(inplace=True, drop=True )

style.head()
# style

### .index

In [ ]:
filter = style[style.horizontal=='value'].index
# .indexs()
filter
# type(filter)

### .drop
axis : {0 or ‘index’, 1 or ‘columns’}, default 0
Whether to drop labels from the index (0 or ‘index’) or columns (1 or ‘columns’).
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html?highlight=drop#pandas.DataFrame.drop

In [ ]:
style.drop(filter).head()

In [ ]:
style.info()

In [ ]:
# style[style.horizontal=='value']
# style[style.horizontal=='value']

In [ ]:
style.head(5)

# reshape
https://pandas.pydata.org/pandas-docs/stable/reshaping.html?highlight=reshape

In [ ]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two', 'two'],
                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'baz': [1, 2, 3, 4, 5, 6],
                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

### .melt

In [ ]:
pd.melt(df)

### .stack

In [ ]:
df.stack()
# type(df.stack())

In [ ]:
df.unstack()
# type(df.stack())

### .pivot
Return reshaped DataFrame organized by given index / column values

In [ ]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two', 'two'],
                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'baz': [1, 2, 3, 4, 5, 6],
                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

In [ ]:
df.pivot(index='foo', columns='bar', values='baz')

In [ ]:
df.pivot(index='foo', columns='bar')

In [ ]:
style.head()

In [ ]:
tdf = style[['raw_X','vertical', "horizontal"]].groupby(['vertical', "horizontal"]).agg(['mean', 'std'])
tdf

In [ ]:
tdf.columns = tdf.columns.droplevel(0)
tdf

In [ ]:
tdf = tdf.reset_index()
tdf

In [ ]:
tdf.pivot(index="vertical", columns="horizontal")

### .shift
Shift index by desired number of periods with an optional time freq

In [ ]:
tdf = style[:5]
tdf

In [ ]:
tdf.raw_X = tdf.raw_X.shift(1)
tdf

# .to_csv

In [ ]:
df.to_csv("qa_err_items.csv", encoding='utf-8')