In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# coding: utf-8
%matplotlib inline 

import numpy as np
# import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")
# pd.options.display.mpl_style = 'default'

### 读取原始数据

In [2]:
time_travel = pd.read_csv('./gy_contest_link_traveltime_training_data.txt',sep=';')
# time_travel['link_ID'] = time_travel['link_ID'].astype(str) 
time_travel.head()

,link_ID,date,time_interval,travel_time
0,9377906285566510514,2016-05-21,"[2016-05-21 23:20:00,2016-05-21 23:22:00)",17.6
1,3377906288228510514,2016-05-21,"[2016-05-21 18:46:00,2016-05-21 18:48:00)",3.5
2,3377906284395510514,2016-05-21,"[2016-05-21 07:06:00,2016-05-21 07:08:00)",10.0
3,4377906284959500514,2016-05-21,"[2016-05-21 14:34:00,2016-05-21 14:36:00)",3.5
4,9377906282776510514,2016-05-21,"[2016-05-21 05:04:00,2016-05-21 05:06:00)",1.5

In [3]:
time_travel['interval'] = time_travel['time_interval'].apply(lambda x: x[11:20])
time_travel['hour'] = time_travel['time_interval'].apply(lambda x: int(x[11:14]))

In [17]:
time_travel.head()

,link_ID,date,time_interval,travel_time,interval,hour
0,9377906285566510514,2016-05-21,"[2016-05-21 23:20:00,2016-05-21 23:22:00)",17.6,23:20:00,23
1,3377906288228510514,2016-05-21,"[2016-05-21 18:46:00,2016-05-21 18:48:00)",3.5,18:46:00,18
2,3377906284395510514,2016-05-21,"[2016-05-21 07:06:00,2016-05-21 07:08:00)",10.0,07:06:00,7
3,4377906284959500514,2016-05-21,"[2016-05-21 14:34:00,2016-05-21 14:36:00)",3.5,14:34:00,14
4,9377906282776510514,2016-05-21,"[2016-05-21 05:04:00,2016-05-21 05:06:00)",1.5,05:04:00,5

In [12]:
time_travel.dtypes

link_ID           object
date              object
time_interval     object
travel_time      float64
interval          object
hour              object
dtype: object

### 筛选 6 7 8 点的数据

In [4]:
df = time_travel[time_travel.hour.isin([6,7,8])]
df.head()

,link_ID,date,time_interval,travel_time,interval,hour
2,3377906284395510514,2016-05-21,"[2016-05-21 07:06:00,2016-05-21 07:08:00)",10.0,07:06:00,7
39,3377906282418510514,2016-05-21,"[2016-05-21 08:56:00,2016-05-21 08:58:00)",3.5,08:56:00,8
62,4377906289813600514,2016-05-21,"[2016-05-21 08:00:00,2016-05-21 08:02:00)",2.0,08:00:00,8
70,4377906289525800514,2016-05-21,"[2016-05-21 08:10:00,2016-05-21 08:12:00)",2.2,08:10:00,8
71,4377906289525800514,2016-05-21,"[2016-05-21 08:50:00,2016-05-21 08:52:00)",3.2,08:50:00,8

In [5]:
df.to_csv('time_interval_range_6_8.txt',index=False)